<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is a home page</h1>
    <h3> <%= 1 + 4 %> </h3>  <!-- INTERPOLATION SYNTAX -->
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse accusantium suscipit illo facilis corporis doloremque voluptatibus, voluptas quos, totam dolorum modi! Omnis recusandae libero vitae.</p>
    <button>click me</button>
</body>
</html>