.container{
    height: 550px;
    width: 550px;
    border: 4px solid rgb(5, 112, 75);
    border-radius: 20px;
    background-color: rgba(241, 183, 106, 0.26);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.boxes{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 13px;
    background-color: gray;
    color: black;
    font-size: 55px;
    padding: 20px;
    text-align: center;
}